.form {
    text-align: center;
    padding-top: 100px;
}

body {
    background-color: #C0C0C0;
}

.form-fields {
    padding-top: 25px;
}

.form-fields h6 {
    padding-top: 15px;
}


.submit-button:hover {
    background-color: aqua;
}
